[Unit]
Description=Smart-Watch Trespass Detection Service
After=network.target

[Service]
# The user that will run the script
User=pi
# The group that will run the script
Group=pi

# The full path to the project directory
WorkingDirectory=/home/pi/smart-watch/v2/app

# The command to execute
ExecStart=/home/pi/smart-watch/.venv/bin/python3 main.py

# Restart the service if it fails
Restart=always
RestartSec=10

# Standard output and error logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
